.app {
  text-align: center;
}

.app-logo {
  height: 40vmin;
}

*{
  text-decoration: none;
}

.app-header {
  background-color: #282c34;
  min-width: 100vh;
  height: 200px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-main{
  background-color: #282c34;
  padding: 30px;
}

/* Estilos tarjetas  */

.characters-list{
  list-style: none;
  padding: 30px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.character-card{
  width: 200px;
  height: 320px;
  background-color: rgb(78, 176, 201);
  margin: 10px;
  padding: 10px 0;
  border: 5px outset #95cc4a;
  border-radius: 10px;
  color: #282c34;
  
}

.character-image{
  width: 180px;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #95cc4a;
}

/*Estilo filters*/

.box-filters{
  margin:0;
}

.user-query{
  margin:10px;
  height: 20px;
  width: 160px;
  border: 3px outset yellowgreen;
  font-size: 16px;
}

.label-input{
  font-size: 24px;
  color: rgb(78, 176, 201);
}

/* Estilos Detail */

.box-detail{
  background-color: #95cc4a;
  width: 40%;
  height: auto;
  border: 5px outset rgb(78, 176, 201);
  border-radius: 20px;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  color: #282c34;
  padding: 20px;
}

.box__detail-image{
 width: 100%;
 
}

.character__detail-image{
  width: 40%;
  border-radius: 20px;
  border: 3px outset rgb(78, 176, 201);
}

.box__detail-info{
  justify-content: left;
}



.box__link-back{
  width: 70px;
  height: 30px;
  background-color: aliceblue;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px outset rgb(78, 176, 201);
}

.link-back{
 color:  #282c34;
 font-size: 20px;
}

/* .box-detail {
  
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto;
  background-color: #95cc4a;
  margin:50px;
  border-radius: 20px;
  
}

.character__detail-image{
  width: 100%;
  border-radius: 20px;
} */